@model ProjetoPET.ViewModel.AnuncioViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Anuncio</h4>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">

        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorpoAnuncio" class="control-label"></label>
                <input asp-for="CorpoAnuncio" class="form-control" />
                <span asp-validation-for="CorpoAnuncio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <img src="@Model.CaminhoDaFoto" style="width:300px;height:300px;" />
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" id="Foto" type="file" accept="image/png, image/jpeg" onsubmit="Checkfiles(this)" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoAnuncioId" class="control-label"></label>
                <select asp-for="TipoAnuncioId" class="form-control" asp-items="ViewBag.TipoAnuncioId"></select>
                <span asp-validation-for="TipoAnuncioId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PetId" class="control-label"></label>
                <select asp-for="PetId" class="form-control" asp-items="ViewBag.PetId"></select>
                <span asp-validation-for="PetId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CidadeId" class="control-label"></label>
                <select asp-for="CidadeId" class="form-control" asp-items="ViewBag.CidadeId"></select>
                <span asp-validation-for="CidadeId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function Checkfiles() {
        var fup = document.getElementById('filename');
        var fileName = fup.value;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);

        if (ext == "jpeg" || ext == "png") {
            return true;
        }
        else {
            return false;
        }
    }
</script>