@model IEnumerable<ProjetoPET.ViewModel.AnuncioViewModel>

<h1> Anúncio </h1>

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nome do Animal</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"  >
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Selecione a Raça</label>
         <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
    </select>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrição</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label> SELECIONE UMA FOTO </label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>


</form>

<button type="button" class="btn btn-primary">Anúnciar</button>
<button type="button" class="btn btn-info">Voltar</button>