@model ProjetoPET.Models.Eventos

@{
    ViewData["Title"] = "Create";
}

<h2>Cadastre seu evento</h2>

<hr />
<div class="form-row">
    <div class="col-md-12" style="text-align: initial;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-6 ">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="DataHora" class="control-label"></label>
                    <input asp-for="DataHora" class="form-control" />
                    <span asp-validation-for="DataHora" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Cidade" class="control-label"></label>
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="CEP" class="control-label"></label>
                    <input asp-for="CEP" class="form-control" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro" class="form-control" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-9">
                    <label asp-for="Rua" class="control-label"></label>
                    <input asp-for="Rua" class="form-control" />
                    <span asp-validation-for="Rua" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>

            </div>
            
            
            @*<div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedData" class="control-label"></label>
                <input asp-for="UpdatedData" class="form-control" />
                <span asp-validation-for="UpdatedData" class="text-danger"></span>
            </div>*@
            <div class="form-group float-right">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar a listagem</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
