@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/imagehover.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">




              
                
@*<div class="banner">
    <div class="bg-color">
        <div class="container">
            
                <div class="banner-text text-center">
                    <div class="text-border">
                        <h2 class="text-dec">PROJETO PET</h2>
                    </div>
                    <div class="intro-para text-center quote">
                        <p class="big-text">Learning Today . . . Leading Tomorrow.</p>
                        <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium enim repellat sapiente quos architecto<br>Laudantium enim repellat sapiente quos architecto</p>
                        
                    </div>
                    
               
            </div>
        </div>
    </div>
</div>*@
                                
                           
                       
                <!--/ Banner-->
        
@*</section>*@
                                    <section class="site-section" id="about-section">
                                        <div class="container">
                                            <div class="row justify-content-center" data-aos="fade-up">
                                                <div class="col-lg-12 text-center heading-section mb-5">
                                                    <h2 class="text-black mb-2">Conheça-nos</h2>
                                                    <p>Visamos a sua satisfação e a de seu bichinho*<br> maiores, magni dolorum aliquam.</p>
                                                    <hr class="bottom-line">
                                                    <a href="#footer" class="btn get-quote">Fazer um tour</a>
                                                </div>
                                                

                                                <div class="text-center" style="width: 18rem;">
                                                    <div class="body">
                                                        <img src="~/images/aesthetic-animals-bambi-cute-Favim.com-5025107.jpeg" alt="..." class="rounded-circle">
                                                        <h5 class="title">With supporting text below as a natural lead-in</h5>
                                                        <p class="text">With supporting text below as a natural lead-in to additional content.</p>
                                                        <a href="#" class="btn btn-green">Go somewhere</a>
                                                    </div>
                                                </div>
                                                <div class="text-center" style="width: 18rem;">
                                                    <div class="body">
                                                        <img src="~/images/animal-dog-domestic-animals-pet-animal-thumb.jpg" alt="..." class="rounded-circle">
                                                        <h5 class="title">Encontre eventos perto de você*</h5>
                                                        <p class="text">With supporting text below as a natural lead-in to additional content.</p>
                                                        <a href="#" class="btn btn-green">Go somewhere</a>
                                                    </div>
                                                </div>
                                                <div class=" text-center" style="width: 18rem;">
                                                    <div class="body">
                                                        <img src="~/images/superthumb.jpg" alt="..." class="rounded-circle">
                                                        <h5 class="title">Encontre veterinários qualificados</h5>
                                                        <p class="text">With supporting text below as a natural lead-in to additional content.</p>
                                                        <a href="#" class="btn btn-green">Go somewhere</a>
                                                    </div>
                                                </div>


                                                <section class="site-section " id="services-section">
                                                    <div class="container">
                                                        <div class="row justify-content-center" data-aos="fade-up">
                                                            <div class="col-lg-6 text-center heading-section mb-5">

                                                                <h2 class="text-black mb-2">Nossos serviços</h2>
                                                                <p>Aqui, você poderá encontrar o necessário para que seu pet viva mais e melhor.</p>
                                                            </div>
                                                        </div></div>
                                                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                            <ol class="carousel-indicators">
                                                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                                            </ol>
                                                            <div class="carousel-inner">
                                                                <div class="carousel-item active">
                                                                    <div class="row">
                                                                        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                                                                            <div class="block_service">
                                                                                <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                                                                                <h3>Checkup de rotina</h3>
                                                                                <p>O checkup de rotina é indispensável na vida de seu bichinho desde que ele é um filhote.</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                                                                            <div class="block_service">
                                                                                <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                                                                                <h3>Dermatologia Veterinária</h3>
                                                                                <p>A dermatologia veterinária previne e auxilia no tratamento de doenças como (...)</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                                                                            <div class="block_service">
                                                                                <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                                                                                <h3>Odontologia veterinária</h3>
                                                                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <div class="row">

                                                                        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                                                                            <div class="block_service">
                                                                                <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                                                                                <h3>Primeiros socorros</h3>
                                                                                <p>Os primeiros socorros podem ser vitais para seu bichinho em casos de emergência, por isso, é importante encontrar profissionais de plantão dispostos a atende-lo. </p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                                                                            <div class="block_service">
                                                                                <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                                                                                <h3>Banho e tosa</h3>
                                                                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                                                                            <div class="block_service">
                                                                                <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                                                                                <h3>Veterinários especializados</h3>
                                                                                <p>Encontre aqui o profissional qualificado na área em que deseja****</p>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                    <span class="sr-only">Previous</span>
                                                                </a>
                                                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                    <span class="sr-only">Next</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        
                                                        <section class="site-section" id="blog-section">
                                                            <div class="container">
                                                                <div class="row justify-content-center" data-aos="fade-up">
                                                                    <div class="col-lg-6 text-center heading-section mb-5">

                                                                        <h2 class="text-black mb-2">Amigos disponíveis</h2>
                                                                        <p>Amigos disponíveis para um novo lar</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="">
                                                                        <div class="d-lg-flex blog-entry">
                                                                            <figure class="mr-4">
                                                                                <a href="single.html"><img src="images/dog_5.jpg" alt="Image" class="img-fluid"></a>
                                                                            </figure>
                                                                            <div class="blog-entry-text">
                                                                                <h3><a href="single.html">Bob</a></h3>
                                                                                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                                                                                <p>
                                                                                    Nome: Bob
                                                                                    Raca: Pug
                                                                                    Idade: 3 anos
                                                                                    Sexo: Macho
                                                                                    Telefone: 9999-99
                                                                                    Descricao: Dócil e ansioso por um novo lar.
                                                                                </p>
                                                                                <p><a href="#" class="">Read More..</a></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                                                                        <div class="d-lg-flex blog-entry">
                                                                            <figure class="mr-4">
                                                                                <a href="single.html"><img src="images/dog_6.jpg" alt="Image" class="img-fluid"></a>
                                                                            </figure>
                                                                            <div class="blog-entry-text">
                                                                                <h3><a href="single.html">Laila</a></h3>
                                                                                <span class="post-meta mb-3 d-block">April 17, 2019</span>
                                                                                <p>
                                                                                    Nome: Laila
                                                                                    Raca: Shaw-Shaw
                                                                                    Idade: 3 anos
                                                                                    Sexo: Fêmea
                                                                                    Telefone: 9999-99
                                                                                    Descricao: Dócil e ansiosa por um novo lar.
                                                                                </p>
                                                                                <p><a href="#" class="">Read More..</a></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </section>


                                                </section>



                                                <section id="faculity-member" class="section-padding">
                                                    <div class="container">

                                                        <div class="header-section text-center col-12">
                                                            <h2>Clientes satisfeitos</h2>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
                                                            <hr class="bottom-line">

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                <div class="pm-staff-profile-container">
                                                                    <div class="pm-staff-profile-image-wrapper text-center">
                                                                        <div class="pm-staff-profile-image">
                                                                            <img src="~/images/usericon1.png" alt="" class="img-thumbnail img-circle" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="pm-staff-profile-details text-center">
                                                                        <p class="pm-staff-profile-name">Bryan Johnson</p>
                                                                        <p class="pm-staff-profile-title">Lead Software Engineer</p>

                                                                        <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                <div class="pm-staff-profile-container">
                                                                    <div class="pm-staff-profile-image-wrapper text-center">
                                                                        <div class="pm-staff-profile-image">
                                                                            <img src="~/images/usericon2.png" alt="" class="img-thumbnail img-circle" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="pm-staff-profile-details text-center">
                                                                        <p class="pm-staff-profile-name">Bryan Johnson</p>
                                                                        <p class="pm-staff-profile-title">Lead Software Engineer</p>

                                                                        <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-4">
                                                                <div class="pm-staff-profile-container">
                                                                    <div class="pm-staff-profile-image-wrapper text-center">
                                                                        <div class="pm-staff-profile-image">
                                                                            <img src="~/images/usericon1.png" alt="" class="img-thumbnail img-circle" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="pm-staff-profile-details text-center">
                                                                        <p class="pm-staff-profile-name">Bryan Johnson</p>
                                                                        <p class="pm-staff-profile-title">Lead Software Engineer</p>

                                                                        <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </section>

                                                <section id="testimonial" class="section-padding">
                                                    <div class="container">

                                                        <div class="header-section text-center">
                                                            <h2 class="white">Dúvidas frequentes</h2>
                                                            <p class="white">Verifique se o seu problema já foi solucionado.</p>
                                                            <hr class="bottom-line bg-white">
                                                        </div>
                                                        <div class="accordion" id="accordionExample">
                                                            <div class="card">
                                                                <div class="card-header" id="headingOne">
                                                                    <h2 class="mb-0">
                                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                            Como funciona a adoção pelo ProjetoPET?
                                                                        </button>
                                                                    </h2>
                                                                </div>

                                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                                    <div class="card-body">
                                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card">
                                                                <div class="card-header" id="headingTwo">
                                                                    <h2 class="mb-0">
                                                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                            Posso adotar mais de um amigo pelo Projeto?
                                                                        </button>
                                                                    </h2>
                                                                </div>
                                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                                    <div class="card-body">
                                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card">
                                                                <div class="card-header" id="headingThree">
                                                                    <h2 class="mb-0">
                                                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                            Collapsible Group Item #3
                                                                        </button>
                                                                    </h2>
                                                                </div>

                                                </section>





                                                <section class="bg-light" id="contact-section">
                                                    <div class="contact">
                                                        <div class="row no-gutters">
                                                            <div class="col-lg-6">
                                                                <form action="#" class="p-5 contact-form">

                                                                    <h2 class="h4 mb-5 heading">Contate-nos</h2>
                                                                    <div class="row form-group">
                                                                        <div class="col-md-6 mb-3 mb-md-0">
                                                                            <label for="fname">Nome</label>
                                                                            <input type="text" id="fname" class="form-control">
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label for="lname">Sobrenome</label>
                                                                            <input type="text" id="lname" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row form-group">

                                                                        <div class="col-md-12">
                                                                            <label for="email">Email</label>
                                                                            <input type="email" id="email" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row form-group">

                                                                        <div class="col-md-12">
                                                                            <label for="subject">Assunto</label>
                                                                            <input type="text" id="subject" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row form-group">
                                                                        <div class="col-md-12">
                                                                            <label for="message">Mensagem</label>
                                                                            <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Descreva suas anotações ou perguntas..."></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row form-group">
                                                                        <div class="col-md-12">
                                                                            <input type="submit" value="Enviar" class="btn btn-dark btn-md text-white">
                                                                        </div>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="row justify-content-center align-items-center h-100">
                                                                    <div class="col-lg-6 text-center heading-section mb-5 align-self-center">

                                                                        <h2 class=" mb-5 text-black">Contato</h2>
                                                                        <ul class="list-unstyled text-left address">
                                                                            <li>
                                                                                <span class="d-block">Endereço:</span>
                                                                                <p>Avenida Eduardo Elias Zahran - Jardim Paulista, Campo Grande - MS</p>
                                                                            </li>
                                                                            <li>
                                                                                <span class="d-block">Telefone:</span>
                                                                                <p>(67) 99999-9999</p>
                                                                            </li>
                                                                            <li>
                                                                                <span class="d-block">Email:</span>
                                                                                <p>fabrica@senac.ms.br</p>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
