@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="site-blocks-cover overflow-hidden bg-light img-equipe">
    <div class="container ">
        <div class="row">
            <div class="col-md-5 mr-auto align-self-center text-center text-md-left">
                <div class="intro-text">
                    <h1>Nós amamos os animais</h1>
                    <p class="mb-4">Aqui pode ser o caminho mais curto para encontrar seu parceiro ideal.</p>
                    <p><a class="btn btn-primary" asp-area="" asp-controller="Evento" asp-action="Index">Fazer um tour</a></p>
                </div>
            </div>
            @*<div class="col-md-5 align-self-center text-center text-md-right">
                <img src="images/dog_1.jpg" alt="Image" class="img-fluid cover-img">
                <img src="images/dog_2.jpg" alt="Image" class="img-fluid cover-img2">

            </div>*@
        </div>
    </div>
</section>
<section class="site-section" id="about-section">
    <div class="container">
        @*<div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">

                <h2 class="text-black mb-2">Bem-Vindo ao nosso ponto de encontro</h2>
                <p>Apartir daqui i.</p>
            </div>
        </div>*@
        <div class="row hover-1-wrap mb-5 mb-lg-0">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-left">
                        <a href="#" class="rotate10">
                            <img src="images/dog_3.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-right">
                        <h2 class="text-black">Animais felizes</h2>
                        <p class="mb-4"><p>Nós buscamos animais de ruas que sofrem maltratos, tratamos deles damos o maior cuidado para ele sinta-se bem acolhido e ficando felizes para encontrar seu próximo dono.</p>
                        <p><a href="#" class="btn btn-primary">Leia mais</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hover-1-wrap mb-5 mb-lg-0">
            <div class="col-12">
                <div class="row">
                    <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-right">
                        <a href="#" class="rotate-reverse10">
                            @*<img src="images/dog_4.jpg" alt="Image" class="img-fluid">*@
        <img src="~/images/equipe2.jpg" class="img-fluid" />
        </a>
    </div>
                    <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-left">
                        <h2 class="text-black">Equipe</h2>
                        <p class="mb-4">Construído por alunos da Fábrica de Software.</p>
                        <p><a href="#" class="btn btn-primary">Leia Mais</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section bg-light trainers" id="trainers-section">
    <div class="container">
        <div class="row">

            <div class="col-md-6" data-aos="fade-right">
                <img class="img-fluid border10 rotate-reverse10" src="images/dog_doctor.jpg" alt="Image">
            </div>
            <div class="col-md-5 ml-auto align-self-center" data-aos="fade-left">
                <h2 class="mb-2 heading mb-4">Encontre o seu <strong>Veterinário</strong> ideal</h2>
                <p>Sempre buscamos encontrar e divulgar os melhores veterinário para que vocês possam contratar para dar o melhor auxilo para seus pets.</p>

            </div>
        </div>
    </div>
</section>
<section class="site-section" id="faq-section">
    <div class="container" id="accordion">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">

                <h2 class="text-black mb-2">Perguntas mais frequentes</h2>
                <p>Abaixo mostramos as perguntas mais frequentes para que possam esclarecer todas as suas dúvidas possíveis.</p>
            </div>
        </div>
        <div class="row accordion justify-content-center block__76208">
            <div class="col-lg-6 order-lg-1 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="">
                @*<img src="images/dog_5.jpg" alt="Image" class="img-fluid rounded">*@
                <img src="~/images/equipe4.jpg" alt="Image" class="img-fluid rounded"/>
            </div>
            <div class="col-lg-5 ml-auto order-lg-2 align-self-center" data-aos="fade-up" data-aos-delay="100">
                <div class="accordion-item">
                    <h3 class="mb-0 heading">
                        <a class="btn-block" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive">Qual o melhor? <span class="icon"></span></a>
                    </h3>
                    <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="body-text">
                            <p>É possível encontrar todo tipo de animal para adoção, não apenas cães e gatos. No entanto, o presidente da ONG ARCA Brasil, Marco Ciampi, encoraja a adoção só desses dois tipos. “Outros animais têm demandas próprias e necessitam de atenção especial. Nunca adote animais silvestres”. Quanto à raça dos bichos, não existe uma melhor que outra. É mais comum encontrar vira-latas procurando lares.</p>
                        </div>
                    </div>
                </div> <!-- .accordion-item -->
                <div class="accordion-item">
                    <h3 class="mb-0 heading">
                        <a class="btn-block" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">O que devo fazer antes de adotar? <span class="icon"></span></a>
                    </h3>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="body-text">
                            <p>Lembre-se de que todo animal de estimação vive cerca de 12 anos. Converse com sua família: todos devem se comprometer a cuidar dele por esse período. A família tem recursos para mantê-lo? Ele deve ser alimentado adequadamente (com ra- ção, e não restos de comida) e ir ao veterinário pelo menos uma vez ao ano. O pet precisa se exercitar, passear e se divertir, além de receber carinho. Apesar disso não custar nada, é importante ter tempo para atender às necessidades dele. Só adote um animal se tiver certeza que poderá cuidar dele da maneira adequada.</p>
                        </div>
                    </div>
                </div> <!-- .accordion-item -->
                <div class="accordion-item">
                    <h3 class="mb-0 heading">
                        <a class="btn-block" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">Animais adultos ou filhotes? <span class="icon"></span></a>
                    </h3>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="body-text">
                            <p>Embora a adoção de animais crescidos costume ser menos desejada, é mais econômica e tranquila. Além de dispensar gastos que se teria com filhotes, os pets são mais calmos e costumam dar menos trabalho com latidos e “rebeldias”. Alguns desses animais têm uma história de muito sofrimento e podem ter sido traumatizados por antigos donos, demonstrando medo de pessoas ao serem adotados. É importante compreender o motivo desse comportamento e se esforçar para que ele confie em quem o adotou. “É preciso sensibilidade e conhecimento sobre o comportamento animal para curar feridas da alma. Em casos mais graves, será necessário o auxílio de um adestrador para reabilitá- lo completamente”, orienta o presidente da ARCA.</p>
                        </div>
                    </div>
                </div> <!-- .accordion-item -->
            </div>

        </div>
    </div>
</section>
<section class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
    <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">

                <h2 class="text-black mb-2">Clientes felizes</h2>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="200">
            <div class="owl-carousel nonloop-block-13">
                <div>
                    <div class="block-testimony-1 text-center">

                        <blockquote class="mb-4">
                            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem porro aliquam quisquam perferendis illum ad corporis tempore voluptatum, obcaecati, a unde? Aliquam suscipit dicta, error velit quaerat eligendi quam ipsa..&rdquo;</p>
                        </blockquote>
                        <figure>
                            <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                        </figure>
                        <h3 class="font-size-20 text-black">Ricky Fisher</h3>
                    </div>
                </div>
                <div>
                    <div class="block-testimony-1 text-center">

                        <blockquote class="mb-4">
                            <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat ad provident ipsa similique quidem. Fugit nam deserunt ipsam? Excepturi, possimus.&rdquo;</p>
                        </blockquote>
                        <figure>
                            <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                        </figure>
                        <h3 class="font-size-20 mb-4 text-black">Ken Davis</h3>

                    </div>
                </div>
                <div>
                    <div class="block-testimony-1 text-center">

                        <blockquote class="mb-4">
                            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores numquam, animi est ratione aut explicabo fuga illum a nesciunt tempora! Incidunt laborum blanditiis quidem voluptatibus enim placeat!&rdquo;</p>
                        </blockquote>
                        <figure>
                            <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                        </figure>
                        <h3 class="font-size-20 text-black">Mellisa Griffin</h3>

                    </div>
                </div>
                <div>
                    <div class="block-testimony-1 text-center">

                        <blockquote class="mb-4">
                            <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nemo distinctio ratione numquam. Magni quae a adipisci hic laborum voluptate optio ab tenetur. Officiis mollitia nam itaque laborum?.&rdquo;</p>
                        </blockquote>
                        <figure>
                            <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                        </figure>
                        <h3 class="font-size-20 mb-4 text-black">Robert Steward</h3>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="site-section" id="blog-section">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">

                <h2 class="text-black mb-2">Amigos disponíveis</h2>
                <p>Amigos disponíveis para um novo lar</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="">
                <div class="d-lg-flex blog-entry">
                    <figure class="mr-4">
                        <a href="single.html"><img src="images/dog_5.jpg" alt="Image" class="img-fluid"></a>
                    </figure>
                    <div class="blog-entry-text">
                        <h3><a href="single.html">Bob</a></h3>
                        <span class="post-meta mb-3 d-block">April 17, 2019</span>
                        <p>
                            Nome: Bob
                            Raca: Pug
                            Idade: 3 anos
                            Sexo: Macho
                            Telefone: 9999-99
                            Descricao: Dócil e ansioso por um novo lar.
                        </p>
                        <p><a href="#" class="">Leia Mais..</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="d-lg-flex blog-entry">
                    <figure class="mr-4">
                        <a href="single.html"><img src="images/dog_6.jpg" alt="Image" class="img-fluid"></a>
                    </figure>
                    <div class="blog-entry-text">
                        <h3><a href="single.html">Laila</a></h3>
                        <span class="post-meta mb-3 d-block">April 17, 2019</span>
                        <p>
                            Nome: Laila
                            Raca: Shaw-Shaw
                            Idade: 3 anos
                            Sexo: Fêmea
                            Telefone: 9999-99
                            Descricao: Dócil e ansiosa por um novo lar.
                        </p>
                        <p><a href="#" class="">Leia Mais..</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="site-section " id="services-section">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">

                <h2 class="text-black mb-2">Nossos serviços</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">

                <div class="block_service">
                    <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                    <h3>Checkup de rotina</h3>
                    <p>O checkup de rotina é indispensável na vida de seu bichinho desde que ele é um filhote.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="block_service">
                    <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                    <h3>Dermatologia Veterinária</h3>
                    <p>A dermatologia veterinária previne e auxilia no tratamento de doenças como (...)</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="block_service">
                    <span class="icon-paw d-block display-3 text-primary mb-3"></span>
                    <h3>Odontologia veterinária</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="contact-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <form action="#" class="p-5 contact-form">

                    <h2 class="h4 mb-5 heading">Contato</h2>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label for="fname">Nome</label>
                            <input type="text" id="fname" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="lname">Sobrenome</label>
                            <input type="text" id="lname" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">

                        <div class="col-md-12">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">

                        <div class="col-md-12">
                            <label for="subject">Assunto</label>
                            <input type="text" id="subject" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="message">Mensagem</label>
                            <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Descreva suas anotações ou perguntas..."></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Enviar" class="btn btn-dark btn-md text-white">
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-6">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-lg-6 text-center heading-section mb-5 align-self-center">

                        <h2 class=" mb-5 text-black">Informações</h2>
                        <ul class="list-unstyled text-left address">
                            <li>
                                <span class="d-block">Endereço:</span>
                                <p>Avenida Eduardo Elias Zahran - Jardim Paulista, Campo Grande - MS</p>
                            </li>
                            <li>
                                <span class="d-block">Telefone:</span>
                                <p>(67) 99999-9999</p>
                            </li>
                            <li>
                                <span class="d-block">Email:</span>
                                <p>fabrica@senac.ms.br</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>