@{
    ViewData["Title"] = "Home Page";
}

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/dog1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Ame os bichinhos.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/lots_of_dogs.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Faça uma adoção.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/produtos.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Compre produtos.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/dog1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Encontre um parceiro ideal</h5>
                <p>Através da nossa plataforma única você se conecta com milhares de clientes e transforma o seu negócio no principal fornecedor de serviços para Pets da sua região.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/lots_of_dogs.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Vidas</h5>
                <p>Ao adotar, você ajuda a reduzir o número de cães e gatos abandonados.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/produtos.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Produtos</h5>
                <p>Adquira os melhores produtos para o seu pet.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>